{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Create New Post</h2>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <!-- Author -->
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    {{form.author}}
                </div>

                <!-- Date -->
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    {{form.date}}
                </div>

                <!-- Title -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                   {{form.title}}
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    {{form.description}}
                </div>

                <!-- Category -->
                <div class="mb-3">
                    <label for="category" class="form-label">Add Category</label>
                    {{form.category}}
                </div>

                <!-- Image Upload -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                   {{form.image}}
                </div>

                <!-- Submit Button -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}
