{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-light">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Profile Details</h2>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center mb-4">
                        <div class="col-12 text-center">
                            {% if profile.profile_pic %}
                                <img src="{{ profile.profile_pic.url }}" class="rounded-circle border border-light mb-3" alt="Profile Picture" width="150" height="150">
                            {% else %}
                                <img src="{% static 'images/default_profile_pic.png' %}" class="rounded-circle border border-light mb-3" alt="Default Profile Picture" width="150" height="150">
                            {% endif %}
                        </div>
                    </div>
                    <div class="profile-details">
                        <div class="mb-3">
                            <p><strong>Username:</strong> {{ username }}</p>
                        </div>
                        <div class="mb-3">
                            <p><strong>Email:</strong> {{ email }}</p>
                        </div>
                        <div class="mb-3">
                            <p><strong>First Name:</strong> {{ profile.first_name }}</p>
                        </div>
                        <div class="mb-3">
                            <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
                        </div>
                        <div class="mb-3">
                            <p><strong>Skills:</strong> {{ profile.skills }}</p>
                        </div>
                        <div class="mb-3">
                            <p><strong>Bio:</strong></p>
                            <p class="text-muted text-justify">{{ profile.bio }}</p>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{% url 'update_profile' %}" class="btn btn-primary btn-lg">
                            <i class="fas fa-edit"></i> Update Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
